.textHeight {
   height: 100px !important
}
.maxMin{
	font-size: 10px !important
	/*height: 10px !important*/
}
.stepFont{
	font-size: 8px !important
	/*height: 14px !important*/
}
.buttonHeight{
	font-size: 8px !important
	/*height: 20px !important;*/
	/*padding: 0 */
}
.quantityColumn{
	width: 100px !important
}

.skupriceColumn{
	width: 150px !important
}
.headerPadding{
	padding-top: 0.001rem !important
}
.headerText{
	font-weight: bold !important;
	/*background: #cae4fb !important*/
}
.HBoxStyle {
  margin-top:5%;
  /*margin-left: 5%;*/
  margin-bottom:5%;
}
.sapUxAPBlockContainerTablet{
	padding: 1rem 1rem 0rem 2rem !important
}
.sapUxAPBlockContainerDesktop{
	padding: 1rem 1rem 0rem 2rem !important;
}
/*
.sapFDynamicPageTitle .sapFDynamicPageTitleMain {
display: none;
}
/*.sapFDynamicPageTitle{*/
/*	display:none;*/
/*}*/
.hideTitle {
	padding: 0px;
	min-height:0px;
}

/*
.sapFDynamicPage-Std-Phone .sapFDynamicPageTitleWrapper.sapFDynamicPageTitleSnapped>.sapFDynamicPageTitle {
	    padding: 0 0 0rem 1rem;
}

.sapFDynamicPage-Std-Tablet .sapFDynamicPageTitle {
    padding: 0rem 1rem 0rem 2rem;
}
*/
.filters{
	    min-width: 0 !important;
    max-width: 288px;
    width: fit-content !important;

}

.RequestSummaryDialogHeader{
font-weight: bold !important;
}

